.quote blockquote {
  margin: 0 auto;
  padding: 0 24px;
  max-width: 620px;
  text-align: center;
}

@media (width >= 900px) {
  .quote blockquote {
    padding: 0 32px;
  }
}

.quote blockquote .quote-quotation {
  font-size: 22px;
  font-style: italic;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 16px;
}

.quote blockquote .quote-quotation > :first-child {
  text-indent: -0.5ch;
}

.quote blockquote .quote-quotation > :first-child::before,
.quote blockquote .quote-quotation > :last-child::after {
  line-height: 0;
}

.quote blockquote .quote-quotation > :first-child::before {
  content: "“";
}

.quote blockquote .quote-quotation > :last-child::after {
  content: "”";
}

.quote blockquote .quote-attribution {
  font-style: normal;
  font-size: 14px;
  color: var(--text-muted);
}
